<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
고객리스트<br />
<a href="memberRegist">회원 등록</a><br />
	<form action="memberList" method="get" >
		회원 조회 : <input type="search" name="memberWord" size="50"/> 
				<input type="submit" value="검색" />
	</form>
<table border="1">
	<tr>
		<td>번호</td>
		<td>이름</td>
		<td>아이디</td>
		<td>생일</td>
		<td><input type="submit" value="삭제"></td>
	</tr>
	<tr th:each="memberDTO : ${list}">
		<td><a th:href="|memberDetail/${memberDTO.memberNum}|">[[${memberDTO.memberNum}]]</a></td>
		<td>[[${memberDTO.memberName} ]]</td>
		<td>[[${memberDTO.memberId}]]</td>
		<td><span th:text="${#dates.format(memberDTO.memberBirth,'yyyy-MM-dd')}"></span></td>
		<td><input type="checkbox" name="memDels" th:value="${memberDTO.memberNum}"></td>
	</tr>
</table>
</body>
</html>