<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkShoppungMall.repository.PuchaseRepository">
	<resultMap type="cartGoodsDTO" id="GoodsCartResultMap">
		<result column="total_Price" jdbcType="BIGINT" property="totalPrice"/>
		<association property="goodsDTO" javaType="GoodsDTO">
			<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="GOODS_MAIN" jdbcType="VARCHAR" property="goodsMain"/>
			<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName"/>
			<result column="DELIVERY_COST" jdbcType="VARCHAR" property="deliveryCost"/>
		</association>
		<association property="cartDTO" javaType="cartDTO" >
			<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="CART_QTY" jdbcType="BIGINT" property="cartQty"/>
		</association>
</resultMap>
<select id="goodsOrder" parameterType="cartDTO" resultMap="GoodsCartResultMap">
	select GOODS_MAIN, g.GOODS_NUM, GOODS_NAME, DELIVERY_COST,
			   CART_QTY, CART_QTY * GOODS_PRICE total_Price
	from goods g, cart c
	where g.GOODS_NUM = c.GOODS_NUM and MEMBER_NUM =  #{memberNum} 
	and c.GOODS_NUM in 
	<foreach collection="goodsNums" item="goodsNum" close=")" open="(" index="index" separator=",">
		#{goodsNum}
	</foreach>
</select>
<select id="selectNum" resultType="integer">
select nvl(max(substr(PURCHASE_NUM,9)), 100000)+ 1
from purchase
where substr(PURCHASE_NUM,1, 8) = to_char(sysdate,'yyyymmdd')
</select>
<insert id="purchaseInsert" parameterType="purchaseDTO" >
insert into purchase(PURCHASE_NUM, PURCHASE_DATE, TOTAL_PRICE, DELIVERY_ADDR, DELIVERY_PHONE
					,MESSAGE,  PURCHASE_STATUS,  MEMBER_NUM,  RECIEVE_NAME )
              values(#{purchaseNum},sysdate,    #{totalPrice},#{deliveryAddr},#{deliveryPhone},
              		#{message},#{purchaseStatus},#{memberNum},#{recieveName})
</insert>
<insert id="purchaseListInsert" parameterType="purchaseListDTO">
insert into purchase_list(PURCHASE_NUM, GOODS_NUM  ,PURCHASE_QTY,  PURCHASE_PRICE  )
select                  #{purchaseNum}, g.GOODS_NUM, CART_QTY   ,  CART_QTY * goods_Price
from cart c , goods g
where c.goods_num = g.goods_num and c.goods_num = #{goodsNum}
                                and c.member_num = #{memberNum}
</insert>





</mapper>