<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet" >
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">

</script>
</head>
<body>
<div id="wrapper">
	<div id="leftMenu">
		<ul>
			<li><a href="goodsList">상품 리스트</a></li>
			<li><a href="goodsRegist">상품 등록</a></li>
			<li><a href="goodsIpgoList">상품 입고 현황</a></li>
			<li><a href="goodsIpgo">상품 입고</a></li>
			<li><a href="purchaseList">주문 내역</a></li>
			<li><a href="goodsQuestion">상품 문의</a></li>
		</ul>
	</div>
<div id="MemberInfo">
<form action="goodsUpdate" method="post" >
<table border=1>
	<tr><th>제품 번호</th>
		<td><input type="text" name="goodsNum"   readonly="readonly" /><br/>
		</td>
	</tr>
	<tr>
		<th>상품명</th>
		<td><input type="text" name="goodsName"  /><br/>
		</td>
	</tr>
	<tr>
		<th>상품 가격</th>
		<td><input type="number" name="goodsPrice" /><br/>
		</td>
	</tr>
	<tr>
		<th>상품 내용</th>
		<td><textarea rows="6" cols="30" name="goodsContent"></textarea>
			
		 </td>
	</tr>
	<tr>
		<th>배송비</th>
		<td><input type="number" name="deliveryCost" /><br/>
		</td>
	</tr>
	<tr>
		<th colspan="2" > 
			<input type="submit" value="상품 수정 완료" />
		</th>
	</tr>
</table>
</form>
</div>
</div>
</body>
</html>





