<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/static/css/memberLayout.css" rel="stylesheet" >
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#frm").submit(function(){
		if($("input:checkbox[id=delete]:checked").length < 1 ){
			alert("하나 이상 테크를 하세요.");
			return false;
		}
	});
});
</script>
</head>
<body>
<div id="wrapper">
	<div id="leftMenu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="goodsList">상품 리스트</a></li>
			<li><a href="goodsList2">상품 리스트2</a></li>
			<li><a href="goodsRegist">상품 등록</a></li>
			<li><a href="goodsIpgoList">상품 입고 현황</a></li>
			<li><a href="goodsIpgo">상품 입고</a></li>
			<li><a href="purchaseList">주문 내역</a></li>
			<li><a href="goodsQuestion">상품 문의</a></li>
		</ul>
	</div>
<div id="MemberInfo">
상품관리<br />
<p>
<table width="600" >
<tr><th>
<form action="goodsList" method="get" >
	상품 조회 : <input type="search" name="goodsWord" size="50" th:value="${goodsWord}"/> 
	<input type="submit" value="검색" />
</form>
</th></tr>
</table>
</p>
<form action="goodsDels" method="post" id="frm">
<table border=1 width="600" >
	<tr>
		<th colspan="6">상품 리스트</th>
		<th width = "100">상품 개수 : [[${count}]]</th>
	</tr>
	<tr>
		<th>번호</th>
		<th><a th:href="@{goodsList(sort=${sort},column=goods_num,goodsWord=${goodsWord})}">상품 번호<a></th>
		<th>이미지</th>
		<th>상품명</th>
		<th><a th:href="@{goodsList(sort=${sort},column=GOODS_PRICE,goodsWord=${goodsWord})}">가격</a></th>
		<th>조회수</th>
		<th><input type="submit" value="삭제"/></th>
	</tr>
	<tr th:each=" goodsCommand  , idx :  ${list}">
		<th>[[${(page -1) * limit + idx.count}]]</th>
		<th><a th:href="|goodsDetail/${goodsCommand.goodsNum}|">[[${goodsCommand.goodsNum}]]</a></th>
		<th><img th:src="|/goods/upload/${goodsCommand.goodsMain}|" width="30px" /></th>
		<th>[[${goodsCommand.goodsName}]]</th>
		<th>[[${goodsCommand.goodsPrice}]]</th>
		<th>[[${goodsCommand.visitCount}]]</th>
		<th><input type="checkbox" id="delete"  name="delete"/></th>
	</tr>
	<tr><td colspan=7>
	<th:block th:if="${page <= 1}">
	[이전]
	</th:block>
	<th:block th:if="${page > 1}">
	<a th:href="@{goodsList(page=${page-1},goodsWord=${goodsWord}
						   ,pageSort=${pageSort},column=${column})}">[이전]</a>
	</th:block>
	
	<th:block th:each=" i : ${#numbers.sequence(startPage, endPage)}" >		
			[ <a th:href="@{goodsList(page=${i }
									,goodsWord=${goodsWord}
									,pageSort=${pageSort},column=${column})}">[[${i }]]</a> ] 
 	</th:block>
	
	<th:block th:if="${page >= maxPage}">
	[이후]
	</th:block>
	<th:block th:if="${page < maxPage}">
	<a th:href="@{goodsList(page=${page+1},goodsWord=${goodsWord}
							,pageSort=${pageSort},column=${column}}">[이후]</a>
	</th:block>
	</td></tr>
</table>
</form>
</div>
</div>
</body>
</html>