<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function detail(purchaseNum){
	window.open("puchaseDetail?purchaseNum="+purchaseNum, 
			"purchaseDetail","top='100',left='100',width=600,height=800");
}
</script>
</head>
<body>
	<div id="wrapper">
		<div id="leftMenu">
			<ul>
				<li><a href="goodsList">상품 리스트</a></li>
				<li><a href="goodsRegist">상품 등록</a></li>
				<li><a href="goodsIpgoList">상품 입고 현황</a></li>
				<li><a href="goodsIpgo">상품 입고</a></li>
				<li><a href="purchaseList">주문 내역</a></li>
				<li><a href="goodsQuestion">상품 문의</a></li>
			</ul>
		</div>
		<div id="MemberInfo">
			<table width="600" align="center">
				<tr>
					<td>주문일(결제번호)</td>
					<td>상품명/주문번호</td>
					<td>주문상태</td>
				</tr>
				<tr th:each="dto : ${list}">
					<td>[[${#dates.format(dto.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]
					(<span th:if="${dto.purchaseDTO.purchaseStatus != '결제대기중' }" th:text="${dto.paymentDTO.confirmNumber}"></span>
					 <span th:if="${dto.paymentDTO == null}" th:text="결제대기중"></span>)
					</td>
					<td>
						<th:block th:each="goodsDTO : ${dto.goodsDTOs}">
						<img th:src="|/goods/upload/${goodsDTO.goodsMain}|" width="50" />[[${goodsDTO.goodsName}]]
						</th:block> 
						/ [[${dto.purchaseDTO.purchaseNum}]]
					</td>
					<td><a th:href="|javascript:detail('${dto.purchaseDTO.purchaseNum}')|">주문	상세 보기</a><br />
						결제 금액 :  [[${dto.purchaseDTO.totalPrice}]]<br />
						<span th:if="${dto.purchaseDTO.purchaseStatus != '배송중'}" th:text="${dto.purchaseDTO.purchaseStatus}"></span>
						<span th:if="${dto.purchaseDTO.purchaseStatus == '배송중'}">
							<a th:href="@{/delivery/deliveryOK(purchaseNum=${dto.purchaseDTO.purchaseNum})}" >배송중</a>
						</span>
						<a th:if="${dto.purchaseDTO.purchaseStatus == '결제완료' 
									and dto.deliveryDTO == null}"
						   th:href="@{/puchase/paymentCancel(purchaseNum=${dto.purchaseDTO.purchaseNum})}">결제취소</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>