<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script>
$(function(){
	$("#btn").click(function(){
		location.href="/delivery/deliveryDel?purchaseNum=[[${list[0].purchaseDTO.purchaseNum}]]";
	});
});
</script>
</head>
<body>
	<div id="wrapper">
		<div id="MemberInfo">
			<table align="center" width="600">
				<th:block th:each=" dto :  ${list } ">
					<th:block th:each="purchaseListGoodsDTO : ${dto.purchaseListGoodsDTOs}">
					<tr>
						<td width="250">
						<img th:src="|/goods/upload/${purchaseListGoodsDTO.goodsDTO.goodsMain}|" width="50" />

						</td>
						<td width="350"><br /> 
							 제품 가격 : [[${purchaseListGoodsDTO.goodsDTO.goodsPrice}]]원 | 
							 주문 수량 : [[${purchaseListGoodsDTO.purchaseListDTO.purchaseQty}]]개 <br /> 
							 주문 금액 :   원 | 
							 배송비 : <span th:if="${purchaseListGoodsDTO.goodsDTO.deliveryCost == 0}" th:text="무료배송"></span> 
							 		<span th:if="${purchaseListGoodsDTO.goodsDTO.deliveryCost > 0}" th:text="${purchaseListGoodsDTO.goodsDTO.deliveryCost}"></span><br /></td>
					</tr>
					<tr>
						<td colspan="2"><b>상품 설명</b><br /> 
						<span th:utext="${#strings.replace(purchaseListGoodsDTO.goodsDTO.goodsContent,newLineChar,'&lt;br /&gt;')}"></span>
						</td>
					</tr>
					</th:block>
				</th:block>
				<tr>
					<td colspan="2">
						<h2>주문 내용</h2> 주문 번호 : [[${list[0].purchaseDTO.purchaseNum}]]<br /> 
										주문 날짜 : [[${#dates.format(list[0].purchaseDTO.purchaseDate,'yyyy-MM-dd')}]]
						<br /> 주문
						금액 : [[${list[0].purchaseDTO.totalPrice}]] 원<br />
						배송지 : [[${list[0].purchaseDTO.deliveryAddr}]]<br /> 
						연락처 : [[${list[0].purchaseDTO.deliveryPhone}]]
						<br /> 받는 사람 : [[${list[0].purchaseDTO.recieveName}]]
						<br /> 주문 메세지 : [[${list[0].purchaseDTO.message}]] <br />
						<div th:if="${list[0].paymentDTO != null}">
						<h2>결제 내용</h2>
							결제 번호 : [[${list[0].paymentDTO.confirmNumber}]]<br />  
							결제 방법 : [[${list[0].paymentDTO.paymentKind}]]<br /> 
							결제 금액 : [[${list[0].paymentDTO.paymentPrice}]]<br />
							결제 일 : [[${list[0].paymentDTO.paymentDate}]]<br />
							카드번호 : [[${list[0].paymentDTO.cardNumber}]]<br />
						</div>
					</td>
				</tr>
			</table>
			
			<div th:if="${list[0].deliveryDTO != null}">
			<table   width="600">
				<tr>
					<td colspan="2"><h2>배송 정보</h2></td>
				</tr>
				<tr><td>택배사</td>
					<td>[[${list[0].deliveryDTO.deliveryCompany}]]</td></tr>
				<tr><td>송장번호</td>
					<td>[[${list[0].deliveryDTO.deliveryNumber}]]</td></tr>
			</table>
			</div>
			
			<div th:if="${list[0].paymentDTO != null}">
			<form action="/delivery/deliveryAction" method="post" >
			<input type="hidden" name="purchaseNum" th:value="${list[0].purchaseDTO.purchaseNum}"/>
			<table width="600" align="center">
				<tr>
					<td colspan="2">배송 정보 입력</td>
				</tr>
				<tr>
					<td>택배사</td>
					<td><select name="deliveryCompany">
					     	<option>이숭무택배</option>
					     	<option>최성호택배</option>
					     	<option>김정원택배</option>
						</select></td>
				</tr>		
				<tr>
					<td>송장번호</td>
					<td><input type="text" name="deliveryNumber" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="송장 등록"/>
						<input type="button" value="배송정보 삭제" id="btn" />
					</td>
				</tr>
			</table>
			</form>
			</div>
		</div>
	</div>
</body>
</html>








