<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<a href="/auction">자동차 경매</a>
<a href="/vote">투표하기</a>

<span th:if="${session.authInfo != null}">
	<a href="/login/logout">로그아웃</a><br />
	<span th:switch="${session.authInfo.grade}">
		<th:block th:case="emp">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/member/memberList">회원 관리</a></li>
				<li><a href="/employee/empList">직원 관리</a></li>
				<li><a href="/goods/goodsList">상품 관리</a></li>
				<li><a href="/goods/goodsList3">상품 관리2</a></li>
				<li><a href="/mypage/empDetail">내 정보 보기</a></li>
			</ul>
		</th:block>
		<th:block th:case="mem">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/puchase/orderList" >주문목록</a></li>
				<li><a href="/corner/goodsCartList" >장바구니</a></li>
				<li><a href="/mypage/memberDetail">내 정보 보기</a></li>
				<li><a href="/corner/wishList">관심 목록</a></li>
				<a href="/market">NTF Market</a>
			</ul>
		</th:block>
	</span>
</span>
<span th:if="${session.authInfo == null}">
<form action="/login/loginPro" name="frm" id="frm" method="post" th:object="${loginCommand}" >
<table border="1"  align="center">
<tr>
	<td colspan="3">
		자동 로그인 <input type="checkbox" name="autoLogin" />
		&nbsp;&nbsp;&nbsp;&nbsp;
		아이디 저장 <input type="checkbox" name="idStore" th:checked="${loginCommand.idStore != null && loginCommand.idStore}"/>
	</td>
</tr>
<tr>
	<td>아이디</td>
	<td>
		<input type="text" name="userId" id="userId" th:value="${loginCommand.userId}" /><br >
		<span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" ></span>
	</td>
	<td rowspan=2>
						<!-- src="/static/images/img1.jpg" -->
		<input type="image" th:src="@{/static/images/img1.jpg}" 
			width="80" height="80" >
	</td>
</tr>
	<tr>
		<td>비밀번호</td>
		<td>
			<input type="password" name="userPw" id="userPw" th:value="${loginCommand.userPw}"><br />
		<span th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" ></span>	
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a href="/register/agree">회원가입</a>&nbsp;
			<a href="/help/findId">아이디 찾기</a>&nbsp;
			<a href="/help/findPassword">비밀번호 찾기</a>&nbsp
		</td>
	</tr>
</table>
</form>
</span>

<table align="center">
	<tr>
		<th:block th:each="goodsDTO , idx   : ${list}">
			<td ><a th:href="@{/corner/prodInfo(goodsNum=${goodsDTO.goodsNum})}">
				<img th:src="|/goods/upload/${goodsDTO.goodsMain}|" width="150px"/><br />
				[[${goodsDTO.goodsName}]]<br />
				가격 : [[${#numbers.formatCurrency(goodsDTO.goodsPrice)}]]
				</a>
			</td>		
			<th:block th:if="${idx.count % 3 == 0 }"  th:utext="'</tr><tr>'" />
		</th:block>
	</tr>
</table>
</body>
</html>