<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkShoppungMall.repository.CornerRepository">
	<update id="wishAdd" parameterType="wishDTO">
		MERGE into wish w
		USING (select goods_num from goods where goods_num = #{goodsNum}) g
		on (w.GOODS_num = g.GOODS_num and w.member_Num = #{memberNum})
		When MATCHED THEN
			update set wish_date = sysdate
			delete where w.goods_num = #{goodsNum} AND w.member_Num = #{memberNum}
		When NOT MATCHED THEN
			insert (w.goods_num, w.member_Num, w.wish_date)
			values(#{goodsNum}, #{memberNum} , sysdate)
	</update>
	<select id="wishCount" parameterType="wishDTO" resultType="string">
		select count(*) from wish
		where goods_num = #{goodsNum} and member_Num = #{memberNum}
	</select>
	
	<insert id="cartAdd" useGeneratedKeys="false" parameterType="cartDTO">
		MERGE into cart w
		USING (select goods_num from goods where goods_num = #{goodsNum}) g
		on (w.GOODS_num = g.GOODS_num and w.member_Num = #{memberNum})
		When MATCHED THEN
			update set w.CART_QTY = w.CART_QTY + #{cartQty}
		When NOT MATCHED THEN
			insert (w.MEMBER_NUM, w.GOODS_NUM, w.CART_QTY)
			values(#{memberNum},#{goodsNum},#{cartQty})
	</insert>	
	<resultMap type="cartGoodsDTO" id="GoodsCartResultMap">
		<result column="total_Price" jdbcType="BIGINT" property="totalPrice"/>
		<association property="goodsDTO" javaType="GoodsDTO">
			<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="GOODS_MAIN" jdbcType="VARCHAR" property="goodsMain"/>
			<result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName"/>
			<result column="DELIVERY_COST" jdbcType="VARCHAR" property="deliveryCost"/>
		</association>
		<association property="cartDTO" javaType="cartDTO" >
			<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum"/>
			<result column="CART_QTY" jdbcType="BIGINT" property="cartQty"/>
		</association>
	</resultMap>
	<select id="cartList" parameterType="string" resultMap="GoodsCartResultMap">
		select GOODS_MAIN, g.GOODS_NUM, GOODS_NAME, DELIVERY_COST,
			   CART_QTY, CART_QTY * GOODS_PRICE total_Price
		from goods g, cart c
		where g.GOODS_NUM = c.GOODS_NUM and MEMBER_NUM =  #{memberNum}
	</select>
	<update id="goodsCartQtyDown" parameterType="cartDTO">
		update cart
		set CART_QTY = CART_QTY - 1
		where MEMBER_NUM =  #{memberNum} and GOODS_NUM = #{goodsNum}
	
	</update>
	<select id="cartGoodsQty" parameterType="cartDTO" resultType="string">
		select CART_QTY from cart
		where MEMBER_NUM =  #{memberNum} and GOODS_NUM = #{goodsNum}
	</select>
	
	<delete id="goodsCartDels" parameterType="cartDTO" >
		delete from cart
		where MEMBER_NUM =  #{memberNum} 
		and	GOODS_NUM in
		<foreach collection="goodsNums" item="goodsNum" index="index"
			open="(" close=")" separator=",">
			#{goodsNum}
		</foreach>	
	</delete>
<sql id="baseColumns">
GOODS_NUM goodsNum , GOODS_NAME goodsName , GOODS_PRICE goodsPrice ,
GOODS_CONTENT goodsContent , DELIVERY_COST deliveryCost, 
VISIT_COUNT visitCount, 
GOODS_MAIN goodsMain, GOODS_MAIN_ORG goodsMainOrg, 
GOODS_IMAGES goodsImages, GOODS_ORIGINAL goodsOriginal
</sql>
	<select id="goodsList" parameterType="string" resultType="goodsDTO">
	select <include refid="baseColumns"></include> 	
	from goods
	where goods_num in(
	select goods_num from wish where member_num = #{memberNum}
	)
	</select>
	
	
	
	
</mapper>