<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
		"-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkShoppungMall.repository.DeliveryRepository">
<insert id="deliveryInsert" parameterType="deliveryDTO">
	MERGE into delivery d
	USING (select PURCHASE_NUM from purchase where PURCHASE_NUM = #{purchaseNum}) p
	on (d.PURCHASE_NUM = p.PURCHASE_NUM)
	When MATCHED THEN
		update set DELIVERY_NUMBER = #{deliveryNumber},
				   DELIVERY_COMPANY = #{deliveryCompany}
	When NOT MATCHED THEN	
		insert (PURCHASE_NUM,DELIVERY_NUMBER,DELIVERY_COMPANY )
		values(#{purchaseNum},#{deliveryNumber},#{deliveryCompany} )
</insert>
<delete id="deliveryDelete" parameterType="string">
	delete from delivery
	where PURCHASE_NUM = #{purchaseNum}
</delete>
<update id="deliveryUpdate" parameterType="string">
	update purchase
	set PURCHASE_STATUS = '배송완료'
	where PURCHASE_NUM = #{purchaseNum}
</update>
</mapper>