<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div id="wrapper">
<div id="leftMenu">
	<ul>
		<li><a href="memberDetail">내 정보 보기</a></li>
		<li><a href="memberInfoModify">내 정보 수정</a></li>
		<li><a href="memberPass" >비밀번호 수정</a></li>
		<li><a href="memberDrop">회원 탈퇴</a></li>
	</ul>
</div>
<div id="MemberInfo">
내 정보<br/> 
내정보 보기<br />
고객 번호 :<br />
이름 :<br />
가입일 :<br />
아이디:<br />
연락처 :<br />
주소 :<br />
이메일 :<br />
성별 : <br />
생년월일 :<br />
</div>
</div>
</body>
</html>