<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkShoppungMall.mapper.MemberShipMapper">
<sql id="baseColumns1">
member_Num ,member_Id ,member_Pw ,member_Name , member_addr,
member_regist ,gender,member_phone ,member_birth, 
member_email, MEMBER_OK
</sql>
<sql id="AutoNum">
	select nvl(max(substr(member_NUM,4)),100000) + 1 from member
</sql>
<insert id="memberInsert" parameterType="memDTO">
insert into member( <include refid="baseColumns1" /> )
values(concat('mem',( <include refid="AutoNum" /> )),
		#{memberId},#{memberPw},#{memberName},#{memberAddr},sysdate,
		#{gender},#{memberPhone},#{memberBirth},#{memberEmail}, null)
</insert>
<resultMap type="memDTO" id="memberConstructorMap">
	<constructor >
		<idArg column="MEMBER_NUM" javaType="string" />
		<arg column="MEMBER_ID" javaType="string" />
		<arg column="MEMBER_PW" javaType="string" />
		<arg column="member_Name" javaType="string" />
		<arg column="member_addr" javaType="string" />
		<arg column="member_regist" javaType="java.sql.Timestamp" />
		<arg column="gender" javaType="string" />
		<arg column="member_phone" javaType="string" />
		<arg column="member_birth" javaType="java.util.Date" />
		<arg column="member_email" javaType="string" />
		<arg column="member_ok" javaType="string" />
	</constructor>
</resultMap>
<select id="selectMember" parameterType="string" resultMap="memberConstructorMap">
	select <include refid="baseColumns1" />
	from member
	where member_id = #{memberId}
</select>
</mapper>